log4j.level=WARN
APIUAsrv.log.file=~/APIUAsrv/server.log
APIUAsrv.doclog.dir=~/APIUAsrv//doclog
APIUAsrv.diff.dir=~/APIUAsrv//diff
APIUAsrv.mail.host=localhost
APIUAsrv.mail.TLS=false
APIUAsrv.mail.username=
APIUAsrv.mail.password=
APIUAsrv.mail.from=bjoern.kahlert@fu-berlin.de
APIUAsrv.mail.to=bjoern.kahlert@fu-berlin.de