log4j.level=WARN
SUAsrv.log.file=/web/dalak.imp.fu-berlin.de/log/SUAsrv.log
SUAsrv.doclog.dir=/web/dalak.imp.fu-berlin.de/experiment/doclog
SUAsrv.diff.dir=/web/dalak.imp.fu-berlin.de/experiment/diff
SUAsrv.mail.host=localhost
SUAsrv.mail.TLS=false
SUAsrv.mail.username=
SUAsrv.mail.password=
SUAsrv.mail.from=bjoern.kahlert@fu-berlin.de
SUAsrv.mail.to=mail@bkahlert.com