/* ===== Primary Styles ========================================================
   Author: Bjšrn Kahlert
   ========================================================================== */

html .hero-unit h1 {
	font-size: 72px;
	line-height: 1.2em;
}

.hero-unit p,
.hero-unit li {
	font-size: 18px;
	font-weight: 200;
	line-height: 27px;
	color: inherit;
}

table {
	border: 0;
}

table caption {
	text-align: left;
	position: absolute;
	top: -9999px;
}

table td {
	padding: 10px;
}

.no-js .script {
	display: none;
}

.SUAid {
	
}